[submodule "lib/libopencm3"]
	path = lib/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "lib/c_library_v2"]
	path = lib/mavlink
	url = https://github.com/mavlink/c_library_v2.git
